In [24]:
import os, sys, pandas as pd, geocoder

# add the 'src' directory as one where we can import modules
sys.path.append(os.environ['PROJECT_PATH'])

In [2]:
from config.resources import path_to

In [44]:
# load the dataframe
meetups_locations_df = pd.read_csv(path_to['meetup_locations'], encoding='latin1')
meetups_locations_df.shape

(141397, 7)

In [45]:
# find number of unique city-state pairs
meetup_state_cities = meetups_locations_df[ ['City', 'State'] ].apply(lambda x: ", ".join(x), axis=1)
len(set(meetup_state_cities.tolist()))

35427

In [19]:
# inspect duplicate city-state records
meetups_locations_df['City_States'] = meetups_locations_df[ ['City', 'State'] ].apply(lambda x: ", ".join(x), axis=1)
sorted_meetup_locations_df = meetups_locations_df.sort_values('City_States')
sorted_meetup_locations_df.head()

,City,ZipCode,Longitude,Country,State,Latitude,Is_Incorporated,City_States
113042,Aaronsburg,16820,-77.39,USA,PA,40.86,True,"Aaronsburg, PA"
63944,Aaronsburg,16820,-77.39,USA,PA,40.86,True,"Aaronsburg, PA"
6514,Abbeville,36310,-85.27,USA,AL,31.55,True,"Abbeville, AL"
5554,Abbeville,36310,-85.27,USA,AL,31.55,True,"Abbeville, AL"
5296,Abbeville,36310,-85.27,USA,AL,31.55,True,"Abbeville, AL"

In [46]:
# drop all duplicates and check dataframe size
meetup_locations_trimmed = meetups_locations_df.drop_duplicates()
meetup_locations_trimmed.shape

(35427, 7)

In [20]:
# drop all duplicates based on the Latitude and Longitude columns and check dataframe size
meetups_locations_trimmed_by_latlng_df = meetups_locations_df.drop_duplicates(['Latitude', 'Longitude'])
meetups_locations_trimmed_by_latlng_df.shape

(25071, 8)

In [10]:
# inspect resulting dataframe sorted by the same fields
meetups_locations_trimmed_by_latlng_df.sort_values(['Latitude', 'Longitude']).head()

,City,ZipCode,Longitude,Country,State,Latitude,Is_Incorporated,City_States
11101,Inarajan,96917,144.74,USA,GU,13.28,False,"Inarajan, GU"
123807,Santa Rita,96915,144.67,USA,GU,13.39,False,"Santa Rita, GU"
21305,Harmon,96913,144.79,USA,GU,13.46,False,"Harmon, GU"
19212,Ordot,96910,144.75,USA,GU,13.48,False,"Ordot, GU"
130567,Frederiksted,840,-64.88,USA,VI,17.71,False,"Frederiksted, VI"

In [43]:
# check how different the latlng coordinates returned by a maps api queried by two different city-state
# combination (which has same lat-long data in the dataframe) are 
location1 = meetups_locations_trimmed_by_latlng_df.sort_values(['Latitude', 'Longitude'])['City_States'].iloc[0]
latlng1 = geocoder.google(location1).latlng

location2 = meetups_locations_trimmed_by_latlng_df.sort_values(['Latitude', 'Longitude'])['City_States'].iloc[1]
latlng2 = geocoder.google(location1).latlng

print(location1, latlng1)
print(location2, latlng2)
print(latlng1 == latlng2)

(u'Inarajan, GU', [13.2791674, 144.7302198])
(u'Santa Rita, GU', [13.2791674, 144.7302198])
True